.c-w100p {
  width: 100%;
}

.c-mrg-0 {
  margin: 0;
}

.c-none {
  display: none;
}

.c-block {
  display: block;
}

.authen-comp-logo {
  width: 4rem;
  display: block;
  margin: 16px auto;
}

.authen-content-frame {
  width: 8rem;
  margin: 0 auto;
}

.auth-search-txt,
.auth-search-btn {
  height: 36px;
  line-height: 36px;
}
.auth-search-item {
  font-size: 0px;
}
.auth-search-txt {
  font-size: 0.32rem;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border: 1px solid #2874b9;
  width: 77%;
  /*padding-left: 15px;*/
  display: block;
  float: left;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-right: none;
  line-height: 0.32rem;
  height: 0.96rem;
  padding: 0.32rem 0 0.32rem 0.32rem;
}

.auth-search-btn {
  border: none;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 23%;
  background-color: #015caf;
  color: #fff;
  font-size: 0.32rem;
  margin-left: -1px;
  height: 0.96rem;
  line-height: 0.96rem;
  -webkit-appearance: none;
  border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}

.auth-tips {
  font-size: 0.32rem;
  line-height: 0.5333rem;
  color: #333;
}

.auth-msg-item {
  border-bottom: 1px solid #333;
}

.auth-search-result {
  color: #fb6100;
  font-size: 0.4267rem;
  text-align: center;
  margin: 0.5333rem 0 0;
}

.auth-result-frame {
  position: relative;
  margin: 0.5rem 0;
}

.auth-result-fail,
.auth-result-warn {
  position: absolute;
  top: 0.1067rem;
  left: 1.6rem;
  font-size: 0.3467rem;
  color: #fff;
  padding-right: 0.8rem;
}

.auth-result-ok {
  position: absolute;
  top: 0.24rem;
  left: 2.4rem;
  font-size: 0.5333rem;
  color: #fff;
}

.auth-info-item {
  font-size: 0.384rem;
  margin-top: 0.5333rem;
  color: #000;
}

.auth-info-item p {
  margin: 0.2rem 0;
}

.auth-qrcode-frame {
  text-align: center;
  /*margin-top: 2.2rem;*/
}

.auth-qrcode-img {
  width: 4rem;
  display: block;
  margin: 0 auto;
}

.auth-qrcode-des {
  font-size: 0.24rem;
  color: #333;
  display: block;
}

.auth-contact-item {
  font-size: 0.3467rem;
  color: #333;
  text-align: center;
  /*margin: 0.4rem 0;*/
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.auth-contact-phone {
  color: #01458e;
}

/* authen */
.method-title {
  font-weight: bold;
  color: #333;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5333rem 0;
}

.auth-method {
  padding: 0.5333rem;
}
.tips_content {
  border: 1px solid #dcdcdc;
}
.method-tip {
  width: 100%;
  display: flex;
  font-size: 0.7rem;
}
.method-tip .bg {
  background: #ddd;
  width: 1.0667rem;
  padding-top: 0.5333rem;
}
.method-tip .tip-content {
  flex: 1;
  padding: 0.5333rem 0.5rem 0rem 1.2rem;
}

.bg .num {
  width: 0.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  color: #fff;
  text-align: center;
  background: #a1bcd4;
  border-radius: 50%;
  position: relative;
  left: 1.3rem;
  z-index: 22;
}
.bg .num-bg {
  width: 1.0667rem;
  height: 1.0667rem;
  background: #ddd;
  position: relative;
  border-radius: 50%;
  left: 1rem;
  top: -1.7rem;
}
.method-back {
  margin-top: 1rem;
}
